<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="database" type="Database"
				connectionString="Server=.;Database=PublicSharing_Nlog_db;Trusted_Connection=True;MultipleActiveResultSets=true;Encrypt=false"
				commandText="INSERT INTO Logs(MachineName, ApplicationName, LogLevel, Logger, Timestamp, Message, Exception) 
                        VALUES (@machinename, @applicationname, @loglevel, @logger, @timestamp, @message, @exception)">
			<parameter name="@machinename" layout="${machinename}" />
			<parameter name="@applicationname" layout="${appname}" />
			<parameter name="@loglevel" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@timestamp" layout="${date}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>